.book-page{
    /* display:flex; */
}

.cover{
    width:100%;
    height:200px;
    position:relative;
}
.cover .book-image {
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    width:40%;
    height:40%;
}
.p-book-details{margin:0 10px;}
.p-book-details div{
    padding:5px 0;}
.p-book-title{font-size:1.2em;font-weight: bold;}
.add-to-cart{
    margin:10px;
    padding:10px 15px;
    border-radius:7px;
    background:#eee;
    border:0;
    cursor:pointer;
    margin-left:0;
}
.add-to-cart:hover{
    background:#ddd;
}
.p-book-isbn{
    font-size:13px;
    color:#888;
}