.user-controls{
    line-height:50px;
    display:flex;
    background:skyblue;
    padding:10px 15px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.user-avatar{
    min-width:40px;
    height:40px;
    line-height:40px;
    text-align:center;
    border-radius:50%;
    background:rgb(0,0,0,0.1);
    cursor:pointer;
}
.user-avatar:hover{
    background:#fff;
}


.cart-menu{
    min-width:40px;
    height:40px;
    line-height:40px;
    text-align:center;
    border-radius:50%;
    background:rgb(0,0,0,0.1);
    cursor:pointer;
}
.cart-menu:hover{
    background:#333;
    color:#fff;
}