.user-controls{
    line-height:50px;
    display:flex;
    background:skyblue;
    padding:10px 15px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.user-avatar{
    min-width:40px;
    height:40px;
    line-height:40px;
    text-align:center;
    border-radius:50%;
    background:rgb(0,0,0,0.1);
    cursor:pointer;
    text-decoration:none;
    color:inherit;
}
.user-avatar:hover{
    background:#fff;
}


.cart-menu{
    min-width:40px;
    height:40px;
    line-height:40px;
    text-align:center;
    border-radius:50%;
    background:rgb(0,0,0,0.1);
    cursor:pointer;
    position:relative;
    color:inherit;
    text-decoration:none;
}
.cart-menu:hover{
    background:#fff;
}
.cart-length{
    width:20px;
    position:absolute;
    top:50%;
    right:-10px;
    height:20px;
    line-height:20px;
    text-align:center;
    background:rgba(255,255,255,0.84);
    font-size:0.7em;
    border-radius:50%;
    color:#000;
}