.container{
    width:400px;
    height:auto;
    min-height:400px;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    box-shadow: 0 3px 10px rgba(0,0,0,0.2);
    border-radius:10px;
    padding-bottom:30px;
}