.search-result{
    margin-top:20px;
    width:100%;
    height:auto;
}
.page-info{
    --height:35px;
    line-height:var(--height);
    background:#f5f5f5;
    border-radius:5px;
    color:#555;
    font-size:0.8em;
    padding:0 10px;
    display: flex;
    margin-bottom:12px;
}
.page-info button{
    border:0;
    padding:0 10px;
    background:none;
    outline:none;
    height:var(--height);
}
.page-info button:hover{
    background:rgba(0,0,0,0.1);
}
.result-data{
    max-height:400px;
}