.search-options{
    box-sizing: border-box;
    width:100%;
    --height:50px;
    transition:0.3s;
    margin-bottom:5px;
}
.main-options{
    display:flex;
}
.classic-input{
    min-width:80%;
    height:var(--height);
    line-height:var(--height);
    font-size:15px; 
    border:0;
    padding:5px 10px;
    box-sizing: border-box;
    outline:none;
}
.main-options:hover,.main-options:focus{
    box-shadow:0 3px 5px rgba(0,0,0,0.1);
}
.search,.search-options-toggle{
    width:20%;
    background:none;
    border:0;
    height:var(--height);
    line-height:var(--height);
}
.search:hover,.search-options-toggle:hover{
    background:#eee;
}
.search{padding:0 20px;}
.search-options-toggle{padding:0 5px;}
.options-content{
    padding:10px;
    font-size:12px;
}